@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root{
    --a: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
}

.close{
  display: none;
}

.left {
    width: 25vw;
    padding: 10px 5px;
}

.right {
    width: 75vw;
    margin: 16px 0;
    position: relative;
    background: linear-gradient(#1f1e1e, transparent);
}

.home {
  padding: 10px;
}

.home ul li {
  display: flex;
  gap: 15px;
  width: 14px;
  list-style: none;
  padding-top: 14px;
  font-weight: bold;
}

.heading {
  display: flex;
  gap: 15px;
  width: 100%;
  padding-top: 5px;
  padding-left: 5px;
  font-weight: bold;
  align-items: center;
  font-size: 20px;
}

.heading img {
  width: 25px;
}

.library {
  min-height: 40vh;
  position: relative;
}

.footer {
  display: flex;
  font-size: 10px;
  gap: 10px;
  position: relative;
  bottom: 0;
  padding: 5px 5px;
  justify-content: center;
}

.footer a {
  color: grey;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.hamburgerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header > * {
  padding: 20px;
}

.spotifyPlaylist {
  padding: 16px;
}

.spotifyPlaylist h1{
  padding: 16px;
}

.cardContainer {
  display: flex;
  margin: 10px;
  gap: 10px;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 65vh;
  padding-bottom: 65px;
  box-sizing: border-box;
}

.card {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  transition: all .2s;
}

.card > * {
  padding-top: 10px;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.play {
  width: 28px;
  height: 28px;
  background-color: #1fdf64;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 187px;
  right: 17px;
  opacity: var(--a);
  transition: all 0.125s ease-out;
}

.card:hover{
    background-color: #252525;
    cursor: pointer;
}

.card:hover .play{
    top: 175px;
    --a: 1;
}

.buttons > *{
    margin: 0 12px;
}

.signupbtn{
    background-color: rgb(18 18 18);
    color: rgb(169, 169, 169);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover{
    font-size: 17px;
    color: white;
}

.loginbtn{
    background-color: white;
    border-radius: 21px;
    color: black;
    font-weight: bold;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover{
    font-weight: bolder;
    font-size: 17px;
}

.playbar{
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    background: #dad5d5;
    border-radius: 10px;
    width: 69vw;
    min-height: 40px;
    padding: 12px;
    z-index: 1;
}

.songbuttons{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songList{
    height: 469px;
    overflow: auto;
    margin-bottom: 10px;
}

.songList ul{
    padding: 0 5px;
}

.songList ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: 1px solid white;
    margin: 12px 0;
    padding: 10px 5px;
    border-radius: 12px;
}

.songList .info{
    font-size: 10px;
    width: 250px;
}

.info div{
  word-break: break-all;
}

.info div {
    word-break: break-all;
}

.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span{
    font-size: 12px;
    width: 64px;
    padding: 10px;
}

.seekbar{
  height: 4px;
  width: 97%;
  background: black;
  border-radius: 10px;
  position: absolute;
  bottom: 8px;
  margin: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle{
  width: 13px;
  height: 13px;
  border-radius: 13px;
  background-color: black;
  position: absolute;
  left: 0;
  transition: left 0.5s;
}

.songbuttons img{
  cursor: pointer;
}

.timevol{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.songinfo{
  color: black;
  padding: 0 7px;
  width: 35%;
  font-size: 14px;
  opacity: 0.8;    
  display: flex;
  align-items: center;
}

.songtime{
  color: black;
  padding: 0 12px;
  font-size: 14px;
  width: 125px;
}

.volume{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.range input{
  cursor: pointer;
}

.abovebar{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 100%;
}

@media (max-width: 1200px) {
  .left{
    position: absolute;
    left: -130%;
    transition: all .1s;
    z-index: 10;
    width: 100%;
    padding: 0;
    height: 100vh;
  }
  
  .left .close{
    position: absolute;
    right: 31px;
    top: 25px;
    width: 29px;
  }

  .timevol{
    flex-direction: column;
    gap: 13px;
  }
  
  .right{
    width: 100vw;
    margin: 0;
  }

  .playbar{
    width: calc(100vw - 60px);
  }
  
  .seekbar{
    width: calc(100vw - 70px);
  }
  
  .hamburger{
    display: block;
  }
  
  .close{
    display: block;
  }
  
  .card{
    width: 44vw;
  }
  .play {
    width: 50px;
    height: 50px;
  }
  .card:hover .play {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: var(--a);
  }

  .cardContainer{
    margin: 0;
    justify-content: center;
    max-height: 85vh;
    padding-bottom: 225px;
    box-sizing: border-box;
  }
  
  .abovebar{
    flex-direction: column;
    gap: 23px;
    align-items: center;
  }
  
  .songinfo, .songtime {
    width: auto;
  }
  
}

@media (max-width: 500px) {
  .card{
    width: 300px;
  }

  .seekbar {
    width: calc(100vw - 20px);
  }

  .playbar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10;
  }

  .songList li{
    height: auto;
  }

  .library{
    height: auto;
  }

  .left{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 15;
    overflow-y:auto ;
  }

  .buttons > *{
    margin: 0 6px;
  }

  .cardContainer{
    max-height: unset;
    overflow-y: unset;
    padding-bottom: 170px;
  }

  .spotifyPlaylist h1{
    padding: 4px;
  }

  .songList{
    margin-bottom: 20px;
}
}





